body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
}

.hidden { display: none; }

.screen {
    padding: 20px;
}

.logo {
    font-size: 40px;
    margin-top: 40px;
    font-weight: bold;
}

.menu-btn {
    width: 80%;
    padding: 15px;
    margin: 10px 0;
    background: #ff3366;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.card {
    background: #222;
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.round-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    margin: 0 20px;
    font-size: 30px;
    cursor: pointer;
}

.like { background: #ff3366; }
.skip { background: #555; }

.back-btn {
    margin-top: 40px;
    background: transparent;
    border: 1px solid #888;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
}

/* Профиль */
.profile-card {
    margin-top: 20px;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}
